@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

.card {
  margin: 30px auto;
}

.errorcard {
  max-width: 700px;
  margin: 30px auto;
  opacity: 0;
  display: none;
}

.show {
    display: block;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    opacity: 1;
}